<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254874093712-4c62nnqn6pakohpkg4jr226788lgbglq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254874093712-4c62nnqn6pakohpkg4jr226788lgbglq</string>
	<key>API_KEY</key>
	<string>AIzaSyCuKTMiOhNH3hU1-sfhjM8sw-DoH6586JA</string>
	<key>GCM_SENDER_ID</key>
	<string>254874093712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pos2</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-39d31</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-39d31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254874093712:ios:bf283f579b30d9c5d43015</string>
</dict>
</plist>